@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
$base-color: #353866;

img{
  max-width: 100%;
}

body {
  line-height: normal;
  letter-spacing: normal;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #7a7a7a;
}
