@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap');
$base-color: #f7df1e;

::-moz-selection {
  /* Code for Firefox */
  color: #333;
  background: $base-color;
}

::selection {
  color: #333;
  background: $base-color;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #333;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f7df1e;
  border-radius: 10px;
}

img {
  max-width: 100%;
}

body {
  line-height: normal;
  letter-spacing: normal;
  font-family: 'Nunito', sans-serif;
  background: #1a2222;
  font-size: 1rem;
  font-weight: 400;
  color: #eee;
  &:before,
  &:after {
    content: "";
    background-image: url("../../img/bg-1.png");
    background-size: 50%;
    opacity: 0.5;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0.8;
  }
  &:after {
    background-image: url("../../img/bg-2.png");
  }
}

button,
input,
textarea {
  font-family: "Quicksand", sans-serif;
}

#app {
  position: relative;
  z-index: 1;
}
a {
  color: $base-color;
}

.text-right {
  text-align: right;
}


@keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}