.blog {
    margin-bottom: 1rem;
    padding: 1rem 1rem 1rem 0;
    transition: 0.4s all ease-in-out;
    cursor: pointer;
    border-radius: 1rem;
    &:hover {
        background: $base-color;
        color: #555;
        padding: 1rem;
        a {
            color: #333;
        }
    }

    &:last-child {
        border-bottom: 0;
    }
    .blog-title {
        font-size: 1.2rem;
    }
    .blog-time {
        color: #777;
    }
    .blog-info {
        margin-top: 0.4rem;
    }
}

.page-title {
    margin-bottom: 4rem;
    margin-top: 3rem;
    position: relative;
    padding-left: 1.4rem;
    color: #ffff;
    &:before {
        content: "";
        position: absolute;
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        background: $base-color;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    &:after{
        content: "Blog";
        position: absolute;
        border-radius: 100%;
        font-size: 4rem;
        font-weight: 700;
        opacity: 0.15;
        left:0
    }
}
