.contact-page{
    animation: fadeInFromNone 1.5s ease-out;
}
.hear-info {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    color: #ccc;
    margin-bottom: 3rem;
    font-weight: 100;
}

.contact-page .page-title {
    margin-bottom: 0;
    &:after {
        content: "Contact Me";
    }
}
